<aside class="w-72 h-screen bg-white border-r border-gray-200 flex flex-col">

    <!-- Logo -->
    <div class="h-20 flex items-center justify-between px-6 border-b border-gray-200">

        

        <!-- Botón cerrar (solo móvil) -->
        <button
            class="xl:hidden p-2 rounded hover:bg-gray-100 text-xl"
            @click="sidebarOpen = false"
        >
            ✕
        </button>

        
        <h1 class="text-2xl font-bold text-gray-800">
            InmoCRM
        </h1>
    </div>

    <!-- Navigation -->
    <nav class="flex-1 overflow-y-auto p-4 space-y-2">

        <a href="{% url 'dashboard' %}"
        class="flex items-center gap-3 px-4 py-3 rounded-xl
        {% if request.resolver_match.url_name == 'dashboard' %}
                bg-gray-900 text-white
        {% else %}
                text-gray-700 hover:bg-gray-100
        {% endif %}">
                <i class="fa-regular fa-house"></i> Dashboard
        </a>

        {% if request.user.is_superuser or request.user.role == "admin" or request.user.role == "manager" %}
        <a href="{% url 'team_overview' %}"
        class="flex items-center gap-3 px-4 py-3 rounded-xl
        {% if request.resolver_match.url_name == 'team_overview' or request.resolver_match.url_name == 'team_member_detail' %}
                bg-gray-900 text-white
        {% else %}
                text-gray-700 hover:bg-gray-100
        {% endif %}">
            <i class="fa-solid fa-users"></i> Seguimiento
        </a>
        {% endif %}

        <a href="{% url 'contact_list' %}"
        class="flex items-center gap-3 px-4 py-3 rounded-xl
        {% if request.resolver_match.url_name == 'contact_list' %}
                bg-gray-900 text-white
        {% else %}
                text-gray-700 hover:bg-gray-100
        {% endif %}">
           <i class="fa-regular fa-user"></i>Personas
        </a>

        <a href="{% url 'task_list' %}"
        class="flex items-center gap-3 px-4 py-3 rounded-xl
        {% if request.resolver_match.url_name == 'task_list' %}
                bg-gray-900 text-white
        {% else %}
                text-gray-700 hover:bg-gray-100
        {% endif %}">
            <i class="fa-regular fa-clipboard"></i>Tareas
        </a>

        <a href="{% url 'properties' %}"
        class="flex items-center gap-3 px-4 py-3 rounded-xl
        {% if request.resolver_match.url_name == 'properties' %}
                bg-gray-900 text-white
        {% else %}
                text-gray-700 hover:bg-gray-100
        {% endif %}">
            <i class="fa-regular fa-building"></i>Inmuebles
        </a>

        

        <a href="{% url 'news_list' %}"
            class="flex items-center gap-3 px-4 py-3 rounded-xl
            {% if request.resolver_match.url_name == 'news_list' or request.resolver_match.url_name == 'news_create_general' or request.resolver_match.url_name == 'news_create' or request.resolver_match.url_name == 'news_detail' or request.resolver_match.url_name == 'news_update' or request.resolver_match.url_name == 'news_delete' %}
                    bg-gray-900 text-white
            {% else %}
                    text-gray-700 hover:bg-gray-100
            {% endif %}">
                <i class="fa-regular fa-newspaper"></i> Noticias
        </a>

        <a href="{% url 'listing_list' %}" 
            class="flex items-center gap-3 px-4 py-3 rounded-xl
            {% if request.resolver_match.url_name == 'listing_list' or request.resolver_match.url_name == 'listing_detail' or request.resolver_match.url_name == 'create_listing' or request.resolver_match.url_name == 'create_listing_call' or request.resolver_match.url_name == 'create_listing_appointment' %}
                    bg-gray-900 text-white
            {% else %}
                    text-gray-700 hover:bg-gray-100
            {% endif %}">
               <i class="fa-solid fa-list-check"></i>Encargos
        </a>

        <a href="{% url 'order_list' %}"
            class="flex items-center gap-3 px-4 py-3 rounded-xl
            {% if request.resolver_match.url_name == 'order_list' or request.resolver_match.url_name == 'order_create' or request.resolver_match.url_name == 'order_create_for_buyer' or request.resolver_match.url_name == 'order_detail' or request.resolver_match.url_name == 'order_update' or request.resolver_match.url_name == 'order_delete' %}
                    bg-gray-900 text-white
            {% else %}
                    text-gray-700 hover:bg-gray-100
            {% endif %}">
                <i class="fa-solid fa-cart-shopping"></i> Pedidos
        </a>

        <a href="{% url 'calendar' %}" 
            class="flex items-center gap-3 px-4 py-3 rounded-xl
            {% if request.resolver_match.url_name == 'calendar' %}
                    bg-gray-900 text-white
            {% else %}
                    text-gray-700 hover:bg-gray-100
            {% endif %}">
               <i class="fa-regular fa-calendar"></i> Agenda
        </a>

        <a href="{% url 'sale_list' %}"
        class="flex items-center gap-3 px-4 py-3 rounded-xl
        {% if request.resolver_match.url_name == '' %}
                bg-gray-900 text-white
        {% else %}
                text-gray-700 hover:bg-gray-100
        {% endif %}">
            <i class="fa-solid fa-euro-sign"></i> Ventas
        </a>

        <a href="{% url 'activity_list' %}"
            class="flex items-center gap-3 px-4 py-3 rounded-xl
            {% if request.resolver_match.url_name == 'activity_list' %}
                    bg-gray-900 text-white
            {% else %}
                    text-gray-700 hover:bg-gray-100
            {% endif %}">

                <i class="fa-solid fa-chart-line"></i> Actividad

        </a>



    </nav>

</aside>
