<aside class="w-72 bg-white border-r border-gray-200 flex flex-col">

    <!-- Logo -->
    <div class="h-20 flex items-center px-6 border-b border-gray-200">

        <h1 class="text-2xl font-bold text-gray-800">
            InmoCRM
        </h1>

    </div>

    <!-- Navigation -->
    <nav class="flex-1 p-4 space-y-2">

        <a href="{% url 'dashboard' %}"
        class="flex items-center gap-3 px-4 py-3 rounded-xl
        {% if request.resolver_match.url_name == 'dashboard' %}
                bg-gray-900 text-white
        {% else %}
                text-gray-700 hover:bg-gray-100
        {% endif %}">
            Dashboard
        </a>

        <a href="{% url 'contact_list' %}"
        class="flex items-center gap-3 px-4 py-3 rounded-xl
        {% if request.resolver_match.url_name == 'contact_list' %}
                bg-gray-900 text-white
        {% else %}
                text-gray-700 hover:bg-gray-100
        {% endif %}">
            Contactos
        </a>

        <a href="{% url 'properties' %}"
        class="flex items-center gap-3 px-4 py-3 rounded-xl
        {% if request.resolver_match.url_name == 'properties' %}
                bg-gray-900 text-white
        {% else %}
                text-gray-700 hover:bg-gray-100
        {% endif %}">
            Inmueble
        </a>



        <a href="#"
           class="flex items-center gap-3 px-4 py-3 rounded-xl text-gray-700 hover:bg-gray-100">

            Tareas
        </a>

        <a href="#"
           class="flex items-center gap-3 px-4 py-3 rounded-xl text-gray-700 hover:bg-gray-100">

            Agentes
        </a>

    </nav>

</aside>